<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="04-Bieu-Mau">
    <system.webServer>
      <directoryBrowse enabled="false" />
      <staticContent>
        <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="Content-Disposition" value="attachment" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Cache-Control" value="private, max-age=0, no-store, no-cache, must-revalidate" />
          <add name="Pragma" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
